#header {
    position: relative;
    top: -10px;
    background-color: #00A0B0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	height: 40px;
}

#format {
    text-align: center;
    background-color: turquoise;
    color: white;
    box-shadow: 3px 3px 3px #444;
    font-family: monospace, Arial, sans-serif;
    font-size: 40;
}